.footer-container {
    position: absolute;
    width: 100%;
    height: 570px;
    top: 2561px;
    border-top: none;
    background: linear-gradient(to bottom, #333333, #1F7A8C);
}

#logoftoer {
    margin-top: 30px;
    margin-right: 60px;
    width: 291px;
    height: 161px;
}

#decfooter {
    color: #FBFBFB;
    margin-top: 60px;
    margin-right: 60px;
    font-family: Cairo;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: none;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
}

#footerlink {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#footerlink h2 {
    font-family: 'El Messiri';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    leading-trim: none;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
}

#footerlink p {
    font-family: Cairo;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    leading-trim: none;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}

#footerconect {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#footerconect h2 {
    font-family: 'El Messiri';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;

}

#footerconect p {
    font-family: Cairo;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    leading-trim: none;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
}

#footerconect a {
    color: white;
    text-decoration: none;
}

#footerconect img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: 2px;


}

.footer-images {
    display: flex;
    justify-content: flex-end;
}

.footer-images img {
    margin-right: 10px;
    
}